*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    height: 60px;
    background-color: aqua;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}
.header > .wide {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
}   
.wide > .logo {
    text-transform: uppercase;
}
.header-lists {
    width: 40%;
}
.header-lists .nav-links {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}
.header-lists ul li a{
    text-decoration: none;
}

.burger {
    cursor: pointer;
    display: none;
}
.burger div {
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: white;
}

@media screen and (max-width: 1023px) {
    .header-lists {
        width: 55%;
    } 
}
@media screen and (max-width: 768px) {
    
    body{
        overflow-x: hidden;
    }
    .header-lists .nav-links{
        position: absolute;
        top: 60px;
        right: 0;
        background-color: aqua;
        display: flex;
        flex-direction: column;
        height: calc(100% - 60px);
        align-items: center;
        z-index: 10;
        width: 50%;
        justify-content: unset;
        transform: translateX(100%);
    } 
    .header-lists .nav-links li{
        padding: 10px 20px;
    }
    .header-lists .nav-links li:hover {
        background-color: white;
        border-radius: 6px;
    }
    .burger {
        display: block;
    }
}



.btnGroup{
    max-width: 600px;
    margin:20px auto;
}

.btn{
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    border: none;
    color: aliceblue;
    padding: 12px 30px;
    border-radius: 35px;
    cursor: pointer;
    transition: opacity .2s ease;

}


.btn:hover{
    opacity: 0.8;
}

.btn + .btn{
    margin-left: 20px;
}

.btn--success{
    background-color: greenyellow;
}
.btn--warn{
    background-color: orange;
}
.btn--danger{
    background-color: red;
}

#toast{
    position: fixed;
    top: 3rem;
    right: 3rem;
}
.toast{
    margin: 20px auto;
    display: flex;
    font-size: 1rem;
    padding: 10px 30px;
    align-items: center;
    border-left: 4px solid;
    transition: all linear 1s;
    width: 300px;
    justify-content: space-around;
}

.toast__ss{
    
    background-color: rgb(6, 240, 123);
}
.toast__err{
    
    background-color: rgb(240, 6, 6);
}
@keyframes rightToLeft {
    from{
        opacity: 0;
        transform: translateX(calc(100% + 20px));
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to{
        opacity: 0;
    }
}

.close{
    cursor: pointer;
}


/* code dropdow */
.footer {
    margin-top: 40px; 
}

.dropdown {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    position: relative;
}

.dropdown .dropdown__select{
    width: 100%;
    background-color: brown;
    padding: 20px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-size: 20px;
    text-transform: uppercase;
    align-items: center;
}
.dropdown__select:hover .dropdown__lists {
    display: block;
}

.dropdown__lists {
    position: absolute;
    top: 100%;
    background-color: transparent;
    left: 0;
    right: 0;
    margin-top: 10px;
    display: none;
}
.dropdown:hover .dropdown__lists {
    display: block;
}
.dropdown__lists::before {
    content: "";
    position: absolute;
    height: 30px;
    left: 0;
    right: 0;
    background-color: transparent;
    transform: translateY(-100%);

}
.dropdown__item {
    list-style-type: none;
    cursor: pointer;
    transition: background-color .2s linear;
    padding: 10px 10px;
    display: flex;
    background-color: brown;
    justify-content: space-between;
    cursor: pointer;
    font-size: 20px;
    text-transform: uppercase;
    align-items: center;
}
.dropdown__item:first-child {
    border-radius: 4px 4px 0 0 ;
    position: relative;
}
.dropdown__item:first-child:before {
    content: "";
    position: absolute;
    top: 0;
    left: 10px;
    border-bottom: 10px solid brown;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    transform: translateY(-100%);
}
.dropdown__item:last-child:after {
    border-bottom: 10px solid brown;
    border-right: 10px solid yellow;
    border-left: 10px solid violet;
    transform: translateY(100%);
    bottom: 0;
    position: absolute;
    left: 10px;
    content: "";
}
.dropdown__item:first-child:hover:before {
    border-bottom-color: aqua;
}
.dropdown__item:last-child {
    border-radius: 0px 0px 4px 4px ;
}

.dropdown__item:hover {
    background-color: aqua;
}


